In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
import pickle

In [2]:
data=pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
data=data.drop(['RowNumber','CustomerId','Surname'],axis=1)
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
label_encoder_gender=LabelEncoder()
data['Gender']=label_encoder_gender.fit_transform(data['Gender'])
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [5]:
from sklearn.preprocessing import OneHotEncoder
onehotencoder_geo=OneHotEncoder()
geo_encoder=onehotencoder_geo.fit_transform(data[['Geography']])

In [6]:
onehotencoder_geo.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [7]:
geo_encoded_df=pd.DataFrame(geo_encoder.toarray(),columns=onehotencoder_geo.get_feature_names_out(['Geography']))

In [8]:
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [9]:
data=pd.concat([data.drop('Geography',axis=1),geo_encoded_df],axis=1)

In [10]:
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [15]:
with open('label_encoder_gender.pkl','wb') as f:
    pickle.dump(label_encoder_gender,f)

with open('onehot_encoder_geo.pkl','wb') as f:
    pickle.dump(onehotencoder_geo,f)

In [11]:
X=data.drop('Exited',axis=1)
y=data['Exited']

In [12]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [13]:
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [19]:
with open('scaler.pkl','wb') as f:
    pickle.dump(scaler,f)

In [14]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

In [26]:
model=Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)),
    Dense(32,activation='relu'),
    Dense(1,activation='relu')
])

In [27]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 64)                832

 dense_4 (Dense)             (None, 32)                2080

 dense_5 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [28]:
opt=tf.keras.optimizers.Adam(learning_rate=0.01)

In [29]:
model.compile(optimizer=opt,loss='binary_crossentropy',metrics=['accuracy'])

In [30]:
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard

log_dir='logs/fit'+datetime.datetime.now().strftime('%Y%m%d-%H%M%S')
tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [31]:
early_stopping_callback=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [32]:
history=model.fit(
    X_train,y_train,validation_data=(X_test,y_test),epochs=100,
    callbacks=[tensorflow_callback,early_stopping_callback]
    )

Epoch 1/100
250/250 [==============================] - 3s 7ms/step - loss: 2.5475 - accuracy: 0.7855 - val_loss: 2.0618 - val_accuracy: 0.8315
Epoch 2/100
250/250 [==============================] - 2s 8ms/step - loss: 2.4240 - accuracy: 0.7999 - val_loss: 1.7530 - val_accuracy: 0.8395
Epoch 3/100
250/250 [==============================] - 2s 6ms/step - loss: 2.3253 - accuracy: 0.7396 - val_loss: 0.8682 - val_accuracy: 0.8160
Epoch 4/100
250/250 [==============================] - 2s 7ms/step - loss: 0.7006 - accuracy: 0.8101 - val_loss: 0.4677 - val_accuracy: 0.8225
Epoch 5/100
250/250 [==============================] - 2s 6ms/step - loss: 0.4138 - accuracy: 0.8332 - val_loss: 0.4261 - val_accuracy: 0.8265
Epoch 6/100
250/250 [==============================] - 2s 6ms/step - loss: 0.4055 - accuracy: 0.8414 - val_loss: 0.3823 - val_accuracy: 0.8420
Epoch 7/100
250/250 [==============================] - 2s 7ms/step - loss: 0.4123 - accuracy: 0.8384 - val_loss: 0.4211 - val_accuracy: 0.8310
Epoch 8/100
250/250 [==============================] - 2s 7ms/step - loss: 0.3918 - accuracy: 0.8446 - val_loss: 0.4397 - val_accuracy: 0.8515
Epoch 9/100
250/250 [==============================] - 2s 8ms/step - loss: 0.3853 - accuracy: 0.8524 - val_loss: 0.3882 - val_accuracy: 0.8605
Epoch 10/100
250/250 [==============================] - 2s 7ms/step - loss: 0.3792 - accuracy: 0.8535 - val_loss: 0.3907 - val_accuracy: 0.8610
Epoch 11/100
250/250 [==============================] - 2s 7ms/step - loss: 0.4120 - accuracy: 0.8409 - val_loss: 0.3786 - val_accuracy: 0.8490
Epoch 12/100
250/250 [==============================] - 2s 8ms/step - loss: 0.3991 - accuracy: 0.8496 - val_loss: 0.6734 - val_accuracy: 0.8300
Epoch 13/100
250/250 [==============================] - 2s 7ms/step - loss: 0.4594 - accuracy: 0.8301 - val_loss: 0.4082 - val_accuracy: 0.8515
Epoch 14/100
250/250 [==============================] - 2s 8ms/step - loss: 0.4166 - accuracy: 0.8424 - val_loss: 0.4148 - val_accuracy: 0.8480
Epoch 15/100
250/250 [==============================] - 2s 8ms/step - loss: 0.4045 - accuracy: 0.8496 - val_loss: 0.3858 - val_accuracy: 0.8575
Epoch 16/100
250/250 [==============================] - 2s 7ms/step - loss: 0.3801 - accuracy: 0.8510 - val_loss: 0.4280 - val_accuracy: 0.8275
Epoch 17/100
250/250 [==============================] - 2s 6ms/step - loss: 0.3770 - accuracy: 0.8524 - val_loss: 0.3792 - val_accuracy: 0.8575
Epoch 18/100
250/250 [==============================] - 2s 7ms/step - loss: 0.3650 - accuracy: 0.8566 - val_loss: 0.4008 - val_accuracy: 0.8600
Epoch 19/100
250/250 [==============================] - 2s 7ms/step - loss: 0.3743 - accuracy: 0.8553 - val_loss: 0.4013 - val_accuracy: 0.8625
Epoch 20/100
250/250 [==============================] - 2s 6ms/step - loss: 0.3791 - accuracy: 0.8555 - val_loss: 0.3751 - val_accuracy: 0.8605
Epoch 21/100
250/250 [==============================] - 2s 7ms/step - loss: 0.4162 - accuracy: 0.8429 - val_loss: 0.4063 - val_accuracy: 0.8610
Epoch 22/100
250/250 [==============================] - 2s 7ms/step - loss: 0.4182 - accuracy: 0.8422 - val_loss: 0.5496 - val_accuracy: 0.7975
Epoch 23/100
250/250 [==============================] - 2s 7ms/step - loss: 0.4341 - accuracy: 0.8334 - val_loss: 0.3961 - val_accuracy: 0.8450
Epoch 24/100
250/250 [==============================] - 2s 6ms/step - loss: 0.3837 - accuracy: 0.8555 - val_loss: 0.4237 - val_accuracy: 0.8520
Epoch 25/100
250/250 [==============================] - 2s 7ms/step - loss: 0.4078 - accuracy: 0.8490 - val_loss: 0.3984 - val_accuracy: 0.8545
Epoch 26/100
250/250 [==============================] - 2s 9ms/step - loss: 0.3939 - accuracy: 0.8529 - val_loss: 0.4451 - val_accuracy: 0.8570
Epoch 27/100
250/250 [==============================] - 2s 7ms/step - loss: 0.4003 - accuracy: 0.8559 - val_loss: 0.4025 - val_accuracy: 0.8595
Epoch 28/100
250/250 [==============================] - 2s 7ms/step - loss: 0.3858 - accuracy: 0.8561 - val_loss: 0.3974 - val_accuracy: 0.8490
Epoch 29/100
250/250 [==============================] - 2s 6ms/step - loss: 0.3960 - accuracy: 0.8596 - val_loss: 0.4217 - val_accuracy: 0.8625
Epoch 30/100
250/250 [==============================] - 2s 6ms/step - loss: 0.3855 - accuracy: 0.8516 - val_loss: 0.3819 - val_accuracy: 0.8605

In [33]:
model.save('model.h5')

e:\Churn Modelling project\venv\lib\site-packages\keras\src\engine\training.py:3000: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [39]:
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [43]:
%tensorboard --logdir logs/fit20250302-202738

Reusing TensorBoard on port 6006 (pid 5832), started 0:00:04 ago. (Use '!kill 5832' to kill it.)